* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif ;
    border: border-box;
}

body {
    background: url(img/8972568.jpg);
    background-size: cover;
    display: flex;
    align-content: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(194, 28, 28);
}

.navigation {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 2em;
}

.navigation a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-family: "Poppins";
}

.logo {
    font-size: 32px;
    text-align: center;
    margin-top: 1em;
    font-family: "Poppins";
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: rgba(137, 43, 226, 0);
    cursor: grab;
    position: fixed;
    left: 30em;

}

.logo:hover {
 content: ('');
 border-bottom: 2px solid white;
 border-radius: 6px;
 transition: 0.5s;
 width: 10%;
 transform: translateX(0);
 text-shadow: 2 2 35px rgb(0, 0, 0);
}

.homenagem_container p {
    text-align: center;
    position: fixed;
    top: 22em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 26px;
}